
cors:
  allowed-origins: "*"
  allowed-methods: "*"
  allowed-headers: "*"
  exposed-headers: "*"

file:
  upload-dir: ./uploads
  max-file-size: 10MB
  max-request-size: 10MB

spring:
  profiles:
    active: ${ACTIVE_PROFILE:dev}
  application:
    name: stock-sn
  servlet:
    multipart:
      enabled: true
      max-file-size: 10MB
      max-request-size: 10MB

  liquibase:
#    url: jdbc:postgresql://${POSTGRES_SQL_HOST}:${POSTGRES_SQL_PORT}/${POSTGRES_SQL_DB}
#    user: ${POSTGRES_SQL_USERNAME}
#    password: ${POSTGRES_SQL_PASSWORD}
    change-log: classpath:db/changelog/db-changelog.xml

  datasource:
    url: jdbc:postgresql://${POSTGRES_SQL_HOST}:${POSTGRES_SQL_PORT}/${POSTGRES_SQL_DB}
#    username: ${POSTGRES_SQL_USERNAME}
#    password: ${POSTGRES_SQL_PASSWORD}
#    url: jdbc:postgresql://postgres:5432/stock
    username: postgres
    password: postgres

  jpa:
    generate-ddl: true
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        jdbc:
          time_zone: UTC
        globally_quoted_identifiers: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
  mail:
    host: ${EMAIL_HOST}
    port: ${EMAIL_PORT}
    username: ${EMAIL_ID}
    password: ${EMAIL_PASSWORD}
    default-encoding: UTF-8
    properties:
      mail:
        mime:
          charset: UTF
        smtp:
          writetimeout: 10000
          connectiontimeout: 10000
          timeout: 10000
          auth: true
          starttls:
            enable: true
            required: true
    verify:
      host: ${VERIFY_EMAIL_HOST}

  tracing:
    sampling:
      probability: 1.0

    logging:
      pattern:
        correlation: "[${spring.application.name:},%X{traceId:-},%X{spanId:-}]"

management:
  endpoints:
    web:
      exposure:
        include: "*"
#  zipkin:
#    tracing:
#      endpoint: "http://tempo:9411/api/v2/spans"
#  endpoint:
#    health:
#      show:
#        details: always
  metrics:
    distribution:
      percentiles-histogram:
        http:
          server:
            requests: true

server:
  port: ${SERVER_PORT:8080}




application:
  security:
    jwt:
      secret-key: 404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
      expiration: 86400000 # a day
      refresh-token:
        expiration: 604800000 # 7 days

#
#cors:
#  allowed-origins: "*"
#  allowed-methods: "*"
#  allowed-headers: "*"
#  exposed-headers: "*"
#
#spring:
#  datasource:
#    url: jdbc:postgresql://localhost:5432/stock
#    username: postgres
#    password: postgres
#    driver-class-name: org.postgresql.Driver
#
#  jpa:
#    hibernate:
#      ddl-auto: update
#      show-sql: true
#      properties:
#        hibernate.format_sql: true
#        hibernate.cache.use_second_level_cache: true
#        hibernate.cache.region.factory_class: org.hibernate.cache.ehcache.EhCacheRegionFactory
#
#    database: postgresql
#    database-platform: org.hibernate.dialect.PostgreSQLDialect
#
#  cache:
#    provider: org.hibernate.cache.EhCacheProvider
#
#server:
#  port: 8082
#


#spring:
#  datasource:
#    url: jdbc:postgresql://localhost:5432/stock
#    username: postgres
#    password: postgres
#    #url: ${SPRING_DATASOURCE_URL}
#    #username: ${SPRING_DATASOURCE_USERNAME}
#    #password: ${SPRING_DATASOURCE_PASSWORD}
#    driver-class-name: org.postgresql.Driver
#  jpa:
#    hibernate:
#      ddl-auto: update
#    show-sql: true
#    properties:
#      hibernate:
#        format_sql: true
#        cache:
#          use_second_level_cache: true
#          region:
#            factory_class: org.hibernate.cache.ehcache.EhCacheRegionFactory
#          ehcache:
#            config: classpath:ehcache.xml
#
#    database: postgresql
#    database-platform: org.hibernate.dialect.PostgreSQLDialect
#
#server:
#  port: 8082
#


#cors:
#  allowed-origins: "*"
#  allowed-methods: "*"
#  allowed-headers: "*"
#  exposed-headers: "*"
#
#spring:
#  datasource:
#    url: jdbc:postgresql://localhost:5432/stock
#    username: postgres
#    password: postgres
#    driver-class-name: org.postgresql.Driver
#  jpa:
#    hibernate:
#      ddl-auto: update
#      format_sql: true
#      cache:
#        use_second_level_cache: true
#        region:
#          factory_class: org.hibernate.cache.ehcache.EhCacheRegionFactory
#        use_query_cache: true
#    properties:
#      javax:
#        persistence:
#          sharedCache:
#            mode: ENABLE_SELECTIVE
#    database: postgresql
#    database-platform: org.hibernate.dialect.PostgreSQLDialect
#
#server:
#  port: 8082


springfox:
  documentation:
    swagger:
      v2:
        path: /swagger-ui.html
      enabled: true
  swagger-ui:
    config:
      deepLinking: true
      displayOperationId: false
      defaultModelsExpandDepth: 1
      defaultModelExpandDepth: 1
      defaultModelRendering: example
      displayRequestDuration: false
      docExpansion: none
      filter: false
      maxDisplayedTags: null
      operationsSorter: alpha
      showExtensions: false
      tagsSorter: alpha
#web:
#  cors:
#    allowed-origins: "http://localhost:4200"
#    allowed-methods: GET, POST, PATCH, PUT, DELETE, OPTIONS, HEAD
#    max-age: 3600
#    allowed-headers: "Requestor-Type"
#    exposed-headers: "X-Get-Header"
#application:
#  security:
#    jwt:
#      secret-key: 404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
#      expiration: 86400000 # a day
#      refresh-token:
#        expiration: 604800000 # 7 days